{% extends 'base.html.twig'%}

{% block title 'Gérer les categories' %}


{% block body %}

    <div class="container mt-4">
            <h1>Gérer les categories</h1>

            <div class="text-right mb-2">
                <a href="{{ path('admin.categorie.new') }}" class="btn btn-primary">Créer une nouvelle categorie</a>
            </div>


        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Titre</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                    <tr>
                    <th scope="row">{{ categorie.id }}</th>
                    <td>{{ categorie.name }}</td>
                    <td>
                        <a href="{{ path('admin.categorie.edit', {id: categorie.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.categorie.delete', {id: categorie.id}) }}" style="display: inline-block" onsubmit="return confirm('Etes-vous vraiment sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}

